#menuWrap {
	width:720px;
	text-align:center;
    margin: 0px auto;
}
#menu1 {
    text-align:center;
    width: 144px;
    height: 15px;
    padding: 10px;
    float: left;
}
#menu2 {
    text-align:center;
    width: 144px;
    height: 15px;
    padding: 10px;
    float: left;
}
#menu3 {
    text-align:center;
    width: 144px;
    height: 15px;
    padding: 10px;
    float: left;
}
#menu4 {
    text-align:center;
    width: 144px;
    height: 15px;
    padding: 10px;
    float: left;
}

.selectedMenu {
    background-color: skyblue;
    color: white;
}
.selectedMenu:hover {
    background-color: lightgray;
    color: white;
}
.unselectedMenu {
    background-color: lightblue;
    color: white;
}
.unselectedMenu:hover {
    background-color: lightgray;
    color: white;
}

a:link, a:visited, a:active, a:hover {
    color: white;
    text-decoration: none;
}